#!/bin/bash

mac_new="ac:74:b1:9e:8a:81"
# net_interface="wlp2s0f3u2"
net_interface_wifi="wlp0s20f3"
net_interface_home="eno1"
net_interface="${net_interface_wifi}"

sudo macchanger --mac=$mac_new $net_interface
