[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zabbix-api = ">=0.5.4"
netaddr = ">=0.8.0"

[dev-packages]
ansible-core = ">=2.16.8"
ansible-lint = ">=25.8.2"
ansible-navigator = ">=1.1.0"
ansible-runner = ">=2.2.1"
ansible-builder = ">=1.1.0"
ansible-playbook-grapher = ">=1.2.0"
pre-commit = ">=4.5.0"
sqlfluff = ">=3.5.0"

[requires]
python_version = "3.12"
