---
- name: workstation | Install asdf
  ansible.builtin.git:
    repo: "https://github.com/asdf-vm/asdf.git"
    dest: "/home/{{ user }}/.asdf"
    version: v0.18.0
  become: false

# - name: workstation | Add asdf to .zshrc
#   ansible.builtin.lineinfile:
#     path: "/home/{{ user }}/.zshrc"
#     regexp: "{{ item }}"
#     line: "{{ item }}"
#   with_items:
#     - ". $HOME/.asdf/asdf.sh"
#     - "fpath=(${ASDF_DIR}/completions $fpath)"
#     - "autoload -Uz compinit && compinit"
#   become: false

- name: workstation | Add plugin asdf
  ansible.builtin.shell: "zsh -lc 'source /home/{{ user }}/.asdf/asdf.sh && /home/{{ user }}/.asdf/bin/asdf plugin add {{ item.name }}' || true"
  with_items: "{{ devops_tools }}"
  become: false

- name: workstation | Install Tools with asdf
  ansible.builtin.shell: "zsh -lc 'source /home/{{ user }}/.asdf/asdf.sh && /home/{{ user }}/.asdf/bin/asdf install {{ item.name }} {{ item.version }}'"
  with_items: "{{ devops_tools }}"
  become: false

- name: workstation | Define global version asdf
  ansible.builtin.shell: "zsh -lc 'source /home/{{ user }}/.asdf/asdf.sh && /home/{{ user }}/.asdf/bin/asdf global {{ item.name }} {{ item.version }}'"
  with_items: "{{ devops_tools }}"
  become: false
