---
# See https://vitux.com/how-to-cast-video-from-ubuntu-to-chromecast/

- name: workstation | Install chromecast tool
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version is version('19.04', '>=')
  tags: chromecast
  with_items:
    - mkchromecast
  become: true
  ignore_errors: true
# mkchromecast -t
# mkchromecast --video -i /media/video/Toy\ Story.avi
