---
# SCM: git, gitg, diff tools, myrepos, GitLab CLI.
# Controlled by: scm_enabled.

- name: git | Install SCM packages
  apt:
    name: "{{ item }}"
    state: "{{ util_pkg_state|default('present') }}"
  become: true
  when: ansible_os_family == 'Debian' and
    scm_enabled
  loop:
    - git
    - gitg
  tags: package

- name: git | Install diff/export tools for git
  apt:
    name: "{{ item }}"
    state: "{{ util_pkg_state|default('present') }}"
  become: true
  when: ansible_os_family == 'Debian' and
    scm_enabled
  loop:
    - python-excelerator
    - catdoc
    - docx2txt
    - python-pdfminer
    - odt2txt
    - libimage-exiftool-perl
  tags: package

- name: git | Install myrepos
  apt:
    name: myrepos
    state: "{{ util_pkg_state|default('present') }}"
  become: true
  when: ansible_os_family == 'Debian' and
    ansible_distribution_version not in ['12.04', '14.04']
  ignore_errors: true
  tags: package

- name: git | Initialize myrepos
  shell: for d in $(find /workspace/users/{{ jenkins_user }}{{ shell_default_version }}/ -type d -name .git); do (mr register $d/..); done
  changed_when: false
  become: true
  ignore_errors: true

- name: brew | Install hub (GitHub CLI)
  homebrew:
    name: hub
    state: present
    update_homebrew: true
  ignore_errors: true
  become: true

- name: git | Install GitLab CLI (glab)
  apt:
    name: glab
    state: "{{ util_pkg_state|default('present') }}"
  become: true
  when: ansible_os_family == 'Debian' and
    scm_enabled
  tags: package
