---
# See https://forum.ubuntu-fr.org/viewtopic.php?id=6125 needed for french accent
# Typing -> Compose Key -> Right Win
- name: workstation | Install editor gnome-tweaks
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version is version_compare(18.04, '>=')
  with_items:
    - gnome-tweaks

- name: workstation | Install editor gnome-tweaks
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version is version_compare(18.04, '<')
  with_items:
    - gnome-tweak-tool # fix for meld, for For older Debian and Ubuntu versions, install GNOME Tweaks Tool using the command

# See https://www.linuxuprising.com/2020/04/top-things-to-do-after-installing.html
- name: workstation | Install editor gnome extensions
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04','14.04']
  with_items:
    - gnome-shell-extensions
    - chrome-gnome-shell

- name: workstation | Install gnome-calculator tools
  snap:
    name: gnome-calculator
    classic: true
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version is version_compare(19.04, '>=')
  tags: package

- name: workstation | Install utilities tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  tags: package
  with_items:
    - gnome-terminal

- name: workstation | Install network tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and stats_enabled
  with_items:
    - gnome-nettool
    - gnome-system-tools
  tags:
    - package
    - gnome
    - network
#
# # gsettings set org.gnome.nautilus.preferences enable-interactive-search false
# # gsettings set org.gnome.nautilus.preferences enable-interactive-search true

# See https://doc.ubuntu-fr.org/gnome-session-fallback
#   - gnome-session-fallback
#   - gnome-session-flashback
