---
- name: workstation | Install OCR utilities tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  tags: package
  with_items:
    # https://help.ubuntu.com/community/OCR
    - gocr
    - tesseract-ocr
    - tesseract-ocr-fra
    - tesseract-ocr-nor
    #   - gscan2pdf
    - ocrfeeder
    #   - aspell-fr   # Already in editor.yml
    #   - aspell-en   # Already in editor.yml
    #   - aspell-no   # Already in editor.yml
    - hunspell
    - hunspell-fr
    # http://sourceforge.net/projects/lios/files/latest/download
    # lios
    - cuneiform

- name: workstation | Install OCR utilities tools (addition)
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04', '14.04']
  tags: package
  with_items:
    - hunspell-no

# - name: workstation | Install Xerox printer driver
#  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
#  become: true
#  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04', '14.04']
#  tags: package
#  with_items:
#   - xeroxprtdrv

- name: workstation | Install CPU utilities tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  tags: package
  with_items:
    - ocl-icd-libopencl1
    - ocl-icd-opencl-dev
    - libnuma-dev
    # get cpu info
    - clinfo

# http://www.linux.com/learn/tutorials/442456-how-to-scan-and-ocr-like-a-pro-with-open-source-tools
# convert -monochrome politet-17-01-2016.pdf page.tif
# convert -monochrome -density 600 politet-17-01-2016.pdf page.tif
# ocrfeeder do not use the cli, but do import pdf
# ocrfeeder-cli -i page.tif -f TXT -o output.txt -e Tesseract
# Best result with tesseract
# tesseract page.tif output -l nor

# See run-accent.sh
- name: workstation | Install accent utilities tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state | default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  with_items:
    #   - hunspell-en-za
    #   - hunspell-en-ca
    - hyphen-en-gb
    - hunspell-en-gb
    - firefox-locale-fr
    #   - mythes-en-au
    #   - hunspell-en-au
    #   - hyphen-en-ca
    - chromium-browser-l10n
    - wfrench
    - hyphen-fr
    - libreoffice-l10n-en-gb
    - mythes-fr
  #   - libreoffice-l10n-en-za
  tags:
    - package
    - lang-fr
    - lang-en-gb

- name: workstation | Install multi key right ctrl
  shell: >
    echo "keycode 115 = Multi_key" | xmodmap -
  tags:
    - accent
    - multi-key
