---
# https://doc.ubuntu-fr.org/webcam
# lsusb | grep -i logitech

# See https://wenchaojames.wordpress.com/2013/01/03/convert-video-format-mts-to-mp4-in-ubuntu/
# - name: webcam | Install mts to mp4 converter tools
#   action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
#   become: true
#   when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
#   tags: package
#   with_items:
#     - libav-tools #avconv -i input.mts -qscale 1 -strict experimental output.mp4

- name: webcam | Install webcam tools (1)
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and webcam_enabled
  tags: package
  with_items:
    #    - libv4l-0
    #    - libv4l-dev
    # http://blog.nicolargo.com/2013/05/streaming-depuis-la-raspberry-camera.html
    #    - gstreamer-properties
    - guvcview
    - cheese
    #    - gphoto2
    - motion

- name: webcam | Install webcam tools (2)
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version in ['14.04', '16.04', '18.04'] and webcam_enabled
  tags: package
  with_items:
    - camorama

- name: video | Add repo for gstreamer packages
  apt_repository: repo="ppa:mc3man/trusty-media" state={{ util_repository_state|default('present') }}
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version in ['14.04'] and gstreamer_enabled
  tags: gstreamer_setup

- name: video | Install gstreamer packages
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }} update_cache=yes"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version in ['12.04','14.04'] and gstreamer_enabled
  tags: gstreamer_setup
  with_items:
    - gstreamer0.10-ffmpeg

- name: webcam | Install webcam tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version in ['12.04','14.04'] and gstreamer_enabled
  tags: gstreamer_setup
  with_items:
    - gstreamer0.10-plugins-base
    - gstreamer0.10-plugins-good
    - gstreamer0.10-plugins-bad
    - gstreamer0.10-plugins-ugly

- name: webcam | Install webcam tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version in ['16.04'] and gstreamer_enabled
  tags: gstreamer_setup
  with_items:
    - gstreamer1.0-plugins-base
    - gstreamer1.0-plugins-good
    - gstreamer1.0-plugins-bad
    - gstreamer1.0-plugins-ugly

# See https://www.freeyourdesktop.com/2018/07/howdy-unlock-your-desktop-with-face-recognition/
- name: webcam | Install howdy tools PPA
  apt_repository: repo='ppa:boltgolt/howdy' update_cache=yes
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04', '14.04', '16.04']
  tags: howdy

# Fix on Ubuntu 19
# sudo ln -s /usr/local/bin/pip3 /usr/bin/pip3

- name: webcam | Install howdy tools
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }}"
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04', '14.04', '16.04'] and howdy_enabled
  tags: howdy
  with_items:
    - howdy

- name: webcam | Copy the howdy config
  template: src=howdy.conf.j2 dest=/etc/howdy/config.ini
    mode=0644
  become: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and howdy_enabled
  tags: howdy
