#!/bin/bash
#set -xv

/bin/bash -c 'zenity --info --text="`hostname -I` Update started" --title="Update started"'

sudo systemd-analyze time
sudo systemd-analyze plot >/home/albandrieu/Downloads/file.svg
sudo systemd-analyze blame

cd /home/albandrieu/w && mr update || true
cd /home/albandrieu/w/jm && mr update || true

# apt-get update && apt-get upgrade -y

sudo service docker restart

/bin/bash -c 'zenity --info --text="`hostname -I` Update completed" --title="Update completed"'

exit 0
