#!/bin/bash
#set -xv

/bin/bash -c 'zenity --info --text="`hostname -I` Update started" --title="Update started"'

sudo systemd-analyze time
sudo systemd-analyze plot >/home/albandrieu/Downloads/file.svg
sudo systemd-analyze blame

cd /home/albandrieu/w && mr update || true
cd /home/albandrieu/w/jm && mr update || true
cd /home/albandrieu/w/jm/infra && mr update || true
cd /home/albandrieu/w/jm/data  && mr update || true
sudo apt-get update # && apt-get upgrade

tldr --update

echo "brew upgrade asdf"

brew cleanup || true
pip cache purge || true
pipenv --clear || true
sudo docker systeme prune || true

# sudo service docker restart

/workspace/users/albandrieu30/nabla/env/linux/cleanup-snap.sh || true

cd /workspace/users/albandrieu30/nabla/infra/docker-compose
docker compose --env-file .env --env-file .env.secrets -f  docker-compose.yml up -d

/bin/bash -c 'zenity --info --text="`hostname -I` Update completed" --title="Update completed"'

# sudo systemctl status boot-update.service

exit 0
