[Unit]
Description=Conky user service
After=graphical-session.target network-online.target
Wants=network-online.target
PartOf=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%h/.conky

# Environment=DISPLAY=:0
# Environment=XDG_SESSION_TYPE=wayland
# Environment=WAYLAND_DISPLAY=wayland-0

ExecStart=%h/.conky/conky-startup.sh
ExecStop=/usr/bin/pkill -u %u -x conky

Restart=on-failure
RestartSec=10

KillMode=control-group
TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=default.target
