DOSHashTableSize 3097
#No more than 5 pages every 2 secondes
DOSPageCount 5
DOSPageInterval 2
#No more than 100 requests per seconde (images, CSS)
DOSSiteCount 100
DOSSiteInterval 1
#Lock client for 10 secondes
DOSBlockingPeriod 10
#Directory containing black listed IP
DOSLogDir "{{ apache_dos_log_path }}"
