#!/bin/bash

mac_new="{{ net_mac }}"
net_interface="{{ net_interface }}"
# net_interface_wifi="wlp0s20f3"
# net_interface_home="eno1"
net_interface="${net_interface}"

sudo macchanger --mac=$mac_new $net_interface || true
