{# Set up VirtualHosts - servername and documentroot are required. #}
{% for vhost in apache_vhosts_kibana %}
<VirtualHost *:7070>
  ServerName {{ vhost.servername }}
{% if vhost.serveradmin is defined %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}

  DocumentRoot {{ vhost.documentroot }}
  <Directory {{ vhost.documentroot }}>
    Allow from all
    Options -Multiviews
  </Directory>

{% if vhost.extra_parameters is defined %}
  {{ vhost.extra_parameters }}
{% endif %}

  LogLevel debug
  ErrorLog /var/log/{{ apache_directory }}/kibana_error.log
  CustomLog /var/log/{{ apache_directory }}/kibana_access.log combined

  # Set global proxy timeouts
  <Proxy http://127.0.0.1:9200>
    ProxySet connectiontimeout=5 timeout=90
  </Proxy>

  # Proxy for _aliases and .*/_search
  <LocationMatch "^/(_nodes|_aliases|.*/_aliases|_search|.*/_search|_mapping|.*/_mapping)$">
    ProxyPassMatch http://127.0.0.1:9200/$1
    ProxyPassReverse http://127.0.0.1:9200/$1
  </LocationMatch>

  # Proxy for kibana-int/{dashboard,temp} stuff (if you don't want auth on /, then you will want these to be protected)
  <LocationMatch "^/(kibana-int/dashboard/|kibana-int/temp)(.*)$">
    ProxyPassMatch http://127.0.0.1:9200/$1$2
    ProxyPassReverse http://127.0.0.1:9200/$1$2
  </LocationMatch>

#  <Location />
#    AuthType Basic
#    AuthBasicProvider file
#    AuthName "Restricted"
#    AuthUserFile /etc/{{ apache_directory }}/conf.d/kibana-htpasswd
#    Require valid-user
#  </Location>
</VirtualHost>

{% endfor %}
