[Unit]
Description=LiteLLM Proxy for Azure OpenAI
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=albandrieu
# source ~/litellm-venv/bin/activate
# prisma generate --schema ~/litellm-venv/lib/python3.12/site-packages/litellm/proxy/schema.prisma
# EnvironmentFile=/home/albandrieu/.litellm/.env
# WorkingDirectory=/home/albandrieu/litellm-venv
# ExecStart=/home/albandrieu/litellm-venv/bin/litellm \
#     --config /home/albandrieu/.litellm/litellm_config.yaml \
#     --port 4100
WorkingDirectory=/home/albandrieu/w/nabla-compose/litellm
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
